.btn, .card, .card-img-top {
  border-radius: 0;
}

main {
  min-height: 80vh;
}

.header {
  position: sticky !important;
  top: -1px;
  left: 0;
  z-index: 999;
}

.main_title {
  font-size: 1.1rem;
}

.product-title {
  transition: 0.5s;
  color: #3b3b3b;
}

.product-title:hover {
  font-weight: bold;
}

.rating span,
.rating a {
  margin: 0.1rem;
}

.rating a {
  color: #3b3b3b;
  text-decoration: none;
  transition: 0.5s;
}

.rating a:hover {
  /* text-decoration: underline; */
  font-weight: bold;
}
